{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/static/images/project_team.jpeg')"></div>
        <div class="container">
          {% for i in info %}
          <div class="content-center">
            <div class="cc-profile-image"><a href="#"><img src="{{i.my_image.url}}" alt="Image"/></a></div>
            <div class="h2 title">{{i.myname}}</div>
            <p class="category text-white">{{i.title}}</p><a class="btn btn-primary smooth-scroll mr-2" href="{% url 'contact' %}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
          {% endfor %}
        </div>
        <div class="section">
            <div class="container">
              <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://facebook.com/profile.php?id=100007600068660" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/MdAbirKhandokar" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://linkedin.com/in/abir-h-khandokar-cisa-377a79a4/
                " rel="tooltip" title="Follow me on linkedin"><i class="fa fa-linkedin"></i></a></div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}